parameters:
	ignoreErrors:
		-
			message: '#^Call to static method query\(\) on an unknown class App\\Console\\Commands\\Auth\\Token\.$#'
			identifier: class.notFound
			count: 2
			path: app/Console/Commands/Auth/AuthSendReminderForExpiringApiTokensCommand.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 2
			path: app/Console/Commands/Auth/AuthSendReminderForExpiringApiTokensCommand.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: app/Console/Commands/Report/ReportSetExpiredToPrivateCommand.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: app/Console/Commands/TimeEntry/TimeEntrySendStillRunningMailsCommand.php

		-
			message: '#^Class App\\Http\\Resources\\PaginatedResourceCollection not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Extensions/Scramble/PaginatedResourceCollectionTypeToSchema.php

		-
			message: '#^Class App\\Http\\Resources\\V1\\TimeEntry\\TimeEntryCollection not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Extensions/Scramble/PaginatedResourceCollectionTypeToSchema.php

		-
			message: '#^Parameter \$event of method App\\Listeners\\RemovePlaceholder\:\:handle\(\) has invalid type App\\Listeners\\TeamMemberAdded\.$#'
			identifier: class.notFound
			count: 1
			path: app/Listeners/RemovePlaceholder.php

		-
			message: '#^Parameter \$token of method App\\Mail\\AuthApiTokenExpirationReminderMail\:\:__construct\(\) has invalid type App\\Mail\\Token\.$#'
			identifier: class.notFound
			count: 1
			path: app/Mail/AuthApiTokenExpirationReminderMail.php

		-
			message: '#^Property App\\Mail\\AuthApiTokenExpirationReminderMail\:\:\$token has unknown class App\\Mail\\Token as its type\.$#'
			identifier: class.notFound
			count: 1
			path: app/Mail/AuthApiTokenExpirationReminderMail.php

		-
			message: '#^Parameter \$token of method App\\Mail\\AuthApiTokenExpiredMail\:\:__construct\(\) has invalid type App\\Models\\Passport\\Token\.$#'
			identifier: class.notFound
			count: 1
			path: app/Mail/AuthApiTokenExpiredMail.php

		-
			message: '#^Property App\\Mail\\AuthApiTokenExpiredMail\:\:\$token has unknown class App\\Models\\Passport\\Token as its type\.$#'
			identifier: class.notFound
			count: 1
			path: app/Mail/AuthApiTokenExpiredMail.php

		-
			message: '#^Call to static method findRole\(\) on an unknown class App\\Traits\\Jetstream\.$#'
			identifier: class.notFound
			count: 2
			path: app/Models/User.php

		-
			message: '#^Instantiated class App\\Traits\\OwnerRole not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 8
			path: app/Service/Import/Importers/DefaultImporter.php

		-
			message: '#^Call to static method findRole\(\) on an unknown class App\\Service\\Jetstream\.$#'
			identifier: class.notFound
			count: 1
			path: app/Service/PermissionStore.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 3
			path: app/Service/ReportExport/CsvExport.php
